<GridLayout class="page">

    <TheMap
        [myLocation]="currLocation"
        [items]="items"
        [selectedIndex]="selectedIndex"
        (selectItem)="onSelectItem($event)"
    ></TheMap>

    <TheAlertButton *ngIf="!searched"
        (tap)="onAlertButtonTap($event)"
    ></TheAlertButton>

    <GridLayout *ngIf="items.length" rows="*,auto">
        <!--StackLayout row="0">
            <Label [text]="items | json" textWrap="true"></Label>
        </StackLayout-->
        <TheCardList row="1"
            [items]="items"
            [selectedIndex]="selectedIndex"
            (selectItem)="onSelectItem($event)"
        ></TheCardList>
    </GridLayout>

</GridLayout>